body{
    background-color: rgb(14, 12, 12);
    align-items:end;
}

*{
    padding: 5px;
    margin: 10px;
}

img{
    width: 150px;
    height: 150px;

}
.imagem{
    text-align: center;
    
}
.area-login{
    display:contents;
    justify-content:center;
    
}

.Nome{
    font-size: small; ;
    text-align: center;
    color: aliceblue;
    
}
